@model Caro.Models.MaintainenceViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maintainence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateMaintained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateMaintained)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mileageMaintained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mileageMaintained)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = ViewData["carId"] })
        </div>
    }
</div>
