@model IEnumerable<Caro.Areas.admin.Models.ServiceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewData["scheduleId"] })|@Html.ActionLink("Return to Schedules", "Index", "Schedules")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.perMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.perMileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceId })
        </td>
    </tr>
}

</table>
